* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

canvas {
  display: block;
}
p {
  color: white;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: calc(50% - 1rem);
}
